## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Reading Data

#### [Dataset Description](https://www.kaggle.com/kimjihoo/ds4c-what-is-this-dataset-detailed-description)

#### Patient Info Data

In [2]:
patient_info = pd.read_csv('../data/PatientInfo.csv')

#### Taking a look at the data

In [3]:
patient_info.head(30)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
14,1000000015,40.0,male,1943.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,NaN,NaN,8.0,2020-02-11,2020-02-19,NaN,NaN,isolated
15,1000000016,56.0,male,1945.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,NaN,NaN,2020-02-19,2020-03-11,NaN,released
16,1000000017,83.0,male,1944.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-01,NaN,released
17,1000000018,111.0,male,2000.0,20s,Korea,Seoul,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-02-20,NaN,NaN,released
18,1000000019,112.0,female,1941.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-08,NaN,released
19,1000000020,121.0,female,1944.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,NaN,1.000000e+09,NaN,NaN,2020-02-20,NaN,NaN,released
20,1000000021,136.0,male,1936.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-08,NaN,released
21,1000000022,161.0,male,1985.0,30s,Korea,Seoul,Seodaemun-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-21,NaN,NaN,isolated
22,1000000023,188.0,male,1961.0,50s,Korea,Seoul,Seocho-gu,NaN,Shincheonji Church,NaN,NaN,NaN,NaN,2020-02-21,NaN,NaN,isolated
23,1000000024,348.0,male,1980.0,40s,Korea,Seoul,Guro-gu,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-02-22,2020-03-14,NaN,released
24,1000000025,365.0,male,1958.0,60s,Korea,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,1.000000e+09,NaN,NaN,2020-02-22,NaN,NaN,released
25,1000000026,420.0,male,1986.0,30s,Korea,Seoul,Seocho-gu,NaN,etc,NaN,NaN,NaN,2020-02-21,2020-02-22,2020-03-11,NaN,released
26,1000000027,593.0,male,1968.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-02-23,2020-03-04,NaN,released
27,1000000028,627.0,female,1950.0,70s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-23,2020-03-11,NaN,released
28,1000000029,754.0,female,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,1.000000e+09,NaN,2020-02-11,2020-02-26,2020-03-11,NaN,released
29,1000000030,755.0,male,1954.0,60s,China,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-23,NaN,NaN,released

In [4]:
patient_info.shape

(3326, 18)

In [5]:
patient_info.describe()

,patient_id,global_num,birth_year,infection_order,infected_by,contact_number
count,3.326000e+03,2237.000000,2889.000000,31.000000,8.060000e+02,614.000000
mean,3.514908e+09,6669.169423,1974.956732,2.387097,2.671714e+09,18.710098
std,2.209142e+09,3321.396732,20.275471,1.453213,1.740450e+09,75.352899
min,1.000000e+09,1.000000,1916.000000,1.000000,1.000000e+09,0.000000
25%,1.300000e+09,4172.000000,1961.000000,1.000000,1.200000e+09,2.000000
50%,2.000001e+09,7855.000000,1975.000000,2.000000,2.000000e+09,4.000000
75%,6.001001e+09,9433.000000,1993.000000,3.000000,4.100000e+09,14.000000
max,7.000000e+09,10660.000000,2020.000000,6.000000,7.000000e+09,1160.000000

In [6]:
patient_info.describe(include=['object'])

,sex,age,country,province,city,disease,infection_case,symptom_onset_date,confirmed_date,released_date,deceased_date,state
count,3260,3252,3326,3326,3247,18,2559,471,3323,1218,60,3326
unique,2,11,11,17,151,1,23,69,77,66,33,3
top,female,20s,Korea,Gyeongsangbuk-do,Gyeongsan-si,True,contact with patient,2020-02-27,2020-03-05,2020-03-20,2020-02-23,released
freq,1831,790,3300,1223,631,18,949,29,145,69,4,1637

#### Checking missing data

In [7]:
patient_info.apply(lambda x: x.isnull().mean(), axis=0).sort_values(ascending=False)

disease               0.994588
infection_order       0.990679
deceased_date         0.981960
symptom_onset_date    0.858388
contact_number        0.815394
infected_by           0.757667
released_date         0.633794
global_num            0.327420
infection_case        0.230607
birth_year            0.131389
city                  0.023752
age                   0.022249
sex                   0.019844
confirmed_date        0.000902
state                 0.000000
country               0.000000
province              0.000000
patient_id            0.000000
dtype: float64

#### Model V. 0.1 - y ~ X:
- y = state
- X = f ( province, sex, age, infection_case, contact_number )

In [8]:
model_v01_data = patient_info[['province', 'sex', 'age', 'infection_case', 'contact_number', 'state']]

In [9]:
print(model_v01_data.shape)
model_v01_data.head()

(3326, 6)

  province     sex  age        infection_case  contact_number     state
0    Seoul    male  50s       overseas inflow            75.0  released
1    Seoul    male  30s       overseas inflow            31.0  released
2    Seoul    male  50s  contact with patient            17.0  released
3    Seoul    male  20s       overseas inflow             9.0  released
4    Seoul  female  20s  contact with patient             2.0  released

#### Deciding what to do for each column

##### contact_number

In [10]:
patients_contact_no = patient_info[~patient_info['contact_number'].isnull()]
print(patients_contact_no.shape)
patients_contact_no.sort_values(['confirmed_date'])

(614, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
1943,5000000001,8.0,female,1958.0,60s,Korea,Jeollabuk-do,Gunsan-si,NaN,overseas inflow,1.0,NaN,113.0,NaN,2020-01-31,2020-02-12,NaN,released
1067,2000000003,12.0,male,1971.0,40s,China,Gyeonggi-do,Bucheon-si,NaN,contact with patient,2.0,NaN,422.0,NaN,2020-02-01,2020-02-18,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
1069,2000000005,15.0,male,1977.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,2.0,2.000000e+09,15.0,2020-02-01,2020-02-02,2020-02-24,NaN,released
1068,2000000004,14.0,female,1980.0,40s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,3.0,2.000000e+09,3.0,NaN,2020-02-02,2020-02-18,NaN,released
816,1300000001,16.0,female,NaN,40s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,450.0,2020-01-27,2020-02-03,2020-02-20,NaN,released
1071,2000000007,20.0,female,1978.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,3.0,2.000000e+09,2.0,2020-02-04,2020-02-05,2020-02-24,NaN,released
1070,2000000006,17.0,male,1982.0,30s,Korea,Gyeonggi-do,Guri-si,NaN,overseas inflow,2.0,NaN,290.0,NaN,2020-02-05,2020-02-12,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
817,1300000002,18.0,female,NaN,20s,Korea,Gwangju,NaN,NaN,contact with patient,NaN,1.300000e+09,8.0,NaN,2020-02-05,2020-02-20,NaN,released
1960,5100000001,22.0,male,1974.0,40s,Korea,Jeollanam-do,etc,NaN,contact with patient,NaN,1.300000e+09,1.0,NaN,2020-02-06,2020-02-15,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
1073,2000000009,26.0,male,1968.0,50s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,1.0,2.000000e+09,0.0,NaN,2020-02-09,NaN,NaN,isolated
1074,2000000010,27.0,female,1982.0,30s,China,Gyeonggi-do,Siheung-si,NaN,overseas inflow,1.0,NaN,40.0,NaN,2020-02-09,2020-03-07,NaN,released
1072,2000000008,25.0,female,1946.0,70s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,2.0,2.000000e+09,12.0,NaN,2020-02-09,2020-03-05,NaN,released
1075,2000000011,28.0,female,1989.0,30s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,2.0,2.000000e+09,1.0,NaN,2020-02-10,2020-02-17,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
753,1200000031,31.0,female,1959.0,60s,Korea,Daegu,NaN,NaN,Shincheonji Church,NaN,NaN,1160.0,NaN,2020-02-18,NaN,NaN,isolated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,1000000563,10250.0,male,1971.0,40s,Korea,Seoul,etc,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-05,NaN,NaN,isolated
1937,4100000136,NaN,male,1949.0,70s,Korea,Chungcheongnam-do,Buyeo-gun,NaN,contact with patient,NaN,4.100000e+09,0.0,2020-04-03,2020-04-05,NaN,NaN,isolated
1938,4100000137,NaN,female,1994.0,20s,Korea,Chungcheongnam-do,Cheonan-si,NaN,etc,NaN,NaN,29.0,2020-04-01,2020-04-06,2020-04-10,NaN,released
743,1100000120,NaN,male,1995.0,20s,Korea,Busan,Dong-gu,NaN,overseas inflow,NaN,NaN,0.0,2020-04-01,2020-04-06,NaN,NaN,isolated
744,1100000121,NaN,female,2002.0,10s,Korea,Busan,Haeundae-gu,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-07,NaN,NaN,released
745,1100000122,NaN,male,1983.0,30s,Korea,Busan,Haeundae-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-07,NaN,NaN,isolated
1024,1700000006,NaN,female,NaN,40s,Korea,Sejong,Sejong,NaN,gym facility in Sejong,NaN,1.700000e+09,2.0,2020-02-22,2020-04-07,NaN,NaN,isolated
1939,4100000138,NaN,male,1982.0,30s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,2020-04-06,2020-04-07,NaN,NaN,isolated
1020,1700000002,NaN,female,NaN,40s,Korea,Sejong,Sejong,NaN,gym facility in Cheonan,NaN,NaN,7.0,2020-02-20,2020-04-07,NaN,NaN,isolated
1034,1700000016,NaN,male,NaN,50s,Korea,Sejong,Sejong,NaN,contact with patient,NaN,1.700000e+09,25.0,NaN,2020-04-08,NaN,NaN,isolated
1029,1700000011,NaN,female,NaN,10s,Korea,Sejong,Sejong,NaN,etc,NaN,NaN,2.0,2020-03-05,2020-04-08,NaN,NaN,isolated
943,1500000006,1257.0,female,NaN,40s,Korea,Daejeon,Daedeok-gu,NaN,etc,NaN,NaN,12.0,NaN,2020-04-08,NaN,NaN,isolated
746,1100000123,NaN,male,1996.0,20s,Korea,Busan,etc,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-09,NaN,NaN,isolated
1682,2000000618,10458.0,female,1964.0,50s,Korea,Gyeonggi-do,Gwangju-si,NaN,contact with patient,NaN,NaN,17.0,2020-04-09,2020-04-10,NaN,NaN,isolated
1683,2000000619,10480.0,male,1960.0,60s,Korea,Gyeonggi-do,Gwangju-si,NaN,contact with patient,NaN,NaN,10.0,2020-04-09,2020-04-10,NaN,NaN,isolated
1940,4100000139,NaN,female,1959.0,60s,United States,Chungcheongnam-do,Seocheon-gun,NaN,overseas inflow,NaN,NaN,4.0,2020-04-10,2020-04-11,NaN,NaN,isolated
1046,1700000028,NaN,male,NaN,40s,Korea,Sejong,Sejong,NaN,Ministry of Oceans and Fisheries,NaN,NaN,6.0,2020-03-03,2020-04-13,NaN,NaN,isolated
747,1100000124,NaN,female,2000.0,20s,Foreign,Busan,Nam-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-14,NaN,NaN,isolated
843,1300000028,10579.0,male,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-14,NaN,NaN,isolated
3325,7000000013,NaN,female,NaN,10s,China,Jeju-do,Jeju-do,NaN,overseas inflow,NaN,NaN,6.0,NaN,2020-04-14,NaN,NaN,isolated
748,1100000125,NaN,male,2013.0,0s,Korea,Busan,Dongnae-gu,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-15,NaN,NaN,isolated
750,1100000127,NaN,female,1979.0,40s,Korea,Busan,Dongnae-gu,NaN,overseas inflow,NaN,NaN,2.0,2020-04-08,2020-04-15,NaN,NaN,isolated
1819,4100000018,NaN,male,1990.0,30s,Korea,Chungcheongnam-do,Cheonan-si,NaN,contact with patient,NaN,4.100000e+09,51.0,2020-02-27,2020-04-15,NaN,NaN,isolated
844,1300000029,NaN,male,NaN,60s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-16,NaN,NaN,isolated
845,1300000030,NaN,female,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-16,NaN,NaN,isolated
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
622,1000000623,10658.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-17,NaN,NaN,isolated
623,1000000624,10659.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated

In [11]:
patients_contact_no.state.value_counts()

released    416
isolated    195
deceased      3
Name: state, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a numeric variable, we will fill in missing values with the mean.

In [12]:
model_v01_data['contact_number'] = model_v01_data.contact_number.fillna(model_v01_data.contact_number.mean())

/home/tarciso/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

##### infection_case

In [13]:
patients_infection_case = patient_info[~patient_info['infection_case'].isnull()]
print(patients_infection_case.shape)
patients_infection_case.sort_values(['confirmed_date'])

(2559, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
1943,5000000001,8.0,female,1958.0,60s,Korea,Jeollabuk-do,Gunsan-si,NaN,overseas inflow,1.0,NaN,113.0,NaN,2020-01-31,2020-02-12,NaN,released
1067,2000000003,12.0,male,1971.0,40s,China,Gyeonggi-do,Bucheon-si,NaN,contact with patient,2.0,NaN,422.0,NaN,2020-02-01,2020-02-18,NaN,released
1069,2000000005,15.0,male,1977.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,2.0,2.000000e+09,15.0,2020-02-01,2020-02-02,2020-02-24,NaN,released
1068,2000000004,14.0,female,1980.0,40s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,3.0,2.000000e+09,3.0,NaN,2020-02-02,2020-02-18,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
816,1300000001,16.0,female,NaN,40s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,450.0,2020-01-27,2020-02-03,2020-02-20,NaN,released
1070,2000000006,17.0,male,1982.0,30s,Korea,Gyeonggi-do,Guri-si,NaN,overseas inflow,2.0,NaN,290.0,NaN,2020-02-05,2020-02-12,NaN,released
1071,2000000007,20.0,female,1978.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,3.0,2.000000e+09,2.0,2020-02-04,2020-02-05,2020-02-24,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
817,1300000002,18.0,female,NaN,20s,Korea,Gwangju,NaN,NaN,contact with patient,NaN,1.300000e+09,8.0,NaN,2020-02-05,2020-02-20,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
1960,5100000001,22.0,male,1974.0,40s,Korea,Jeollanam-do,etc,NaN,contact with patient,NaN,1.300000e+09,1.0,NaN,2020-02-06,2020-02-15,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
1074,2000000010,27.0,female,1982.0,30s,China,Gyeonggi-do,Siheung-si,NaN,overseas inflow,1.0,NaN,40.0,NaN,2020-02-09,2020-03-07,NaN,released
1073,2000000009,26.0,male,1968.0,50s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,1.0,2.000000e+09,0.0,NaN,2020-02-09,NaN,NaN,isolated
1072,2000000008,25.0,female,1946.0,70s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,2.0,2.000000e+09,12.0,NaN,2020-02-09,2020-03-05,NaN,released
1075,2000000011,28.0,female,1989.0,30s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,2.0,2.000000e+09,1.0,NaN,2020-02-10,2020-02-17,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714,2000000650,10627.0,female,1961.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
3312,6100000115,NaN,male,1998.0,20s,Korea,Gyeongsangnam-do,Changwon-si,NaN,etc,NaN,NaN,NaN,2020-04-14,2020-04-16,NaN,NaN,isolated
934,1400000089,10629.0,female,1990.0,30s,Korea,Incheon,Seo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
844,1300000029,NaN,male,NaN,60s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-16,NaN,NaN,isolated
3007,6016000037,NaN,male,2001.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
3006,6016000036,NaN,male,2003.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
619,1000000620,10632.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
845,1300000030,NaN,female,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-16,NaN,NaN,isolated
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
620,1000000621,10635.0,NaN,NaN,NaN,Korea,Seoul,Yongsan-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
621,1000000622,10644.0,NaN,NaN,NaN,Korea,Seoul,Seongbuk-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
622,1000000623,10658.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
1716,2000000652,10648.0,female,1934.0,80s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1715,2000000651,10649.0,male,1963.0,50s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1717,2000000653,10652.0,male,1965.0,50s,Korea,Gyeonggi-do,Uijeongbu-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1718,2000000654,10650.0,female,2017.0,0s,Korea,Gyeonggi-do,Gunpo-si,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
935,1400000090,10646.0,female,1980.0,40s,Korea,Incheon,Michuhol-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
3008,6016000038,NaN,female,2014.0,0s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
3009,6016000039,NaN,male,2005.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated
623,1000000624,10659.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-18,NaN,NaN,isolated
936,1400000091,10660.0,female,2001.0,20s,Korea,Incheon,Namdong-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
752,1100000129,NaN,female,1995.0,20s,Korea,Busan,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [14]:
patients_infection_case.state.value_counts()

isolated    1437
released    1094
deceased      28
Name: state, dtype: int64

In [15]:
patients_infection_case.infection_case.value_counts()

contact with patient                     949
overseas inflow                          567
etc                                      567
Guro-gu Call Center                      112
Shincheonji Church                       107
Onchun Church                             33
Bonghwa Pureun Nursing Home               31
gym facility in Cheonan                   30
Ministry of Oceans and Fisheries          28
Cheongdo Daenam Hospital                  21
Dongan Church                             17
Eunpyeong St. Mary's Hospital             16
Gyeongsan Seorin Nursing Home             15
Seongdong-gu APT                          13
Gyeongsan Jeil Silver Town                12
Milal Shelter                             11
Gyeongsan Cham Joeun Community Center     10
Geochang Church                            6
gym facility in Sejong                     4
Changnyeong Coin Karaoke                   4
Suyeong-gu Kindergarten                    3
Pilgrimage to Israel                       2
River of Grace Community Church            1
Name: infection_case, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. There are many infection case levels which are not going to be individually relevant to the prediction model. Thus, we will keep only two of the original levels: Contact with Patient and Overseas Inflow, and label the rest as Other.As it is a categorical variable, we will create a dummy variable to hold its NA values.

In [16]:
def resume_infection_case_col(inf_case_value):
    if ((pd.isnull(inf_case_value)) or (inf_case_value in ['contact with patient','overseas inflow'])):
        return inf_case_value
    else:
        return 'other'
    
model_v01_data['infection_case'] = model_v01_data['infection_case'].apply(resume_infection_case_col)
#model_v01_data['infection_case'].apply(resume_infection_case_col).head(20)

/home/tarciso/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [17]:
model_v01_data.head(20)

   province     sex  age        infection_case  contact_number     state
0     Seoul    male  50s       overseas inflow       75.000000  released
1     Seoul    male  30s       overseas inflow       31.000000  released
2     Seoul    male  50s  contact with patient       17.000000  released
3     Seoul    male  20s       overseas inflow        9.000000  released
4     Seoul  female  20s  contact with patient        2.000000  released
5     Seoul  female  50s  contact with patient       43.000000  released
6     Seoul    male  20s  contact with patient        0.000000  released
7     Seoul    male  20s       overseas inflow        0.000000  released
8     Seoul    male  30s       overseas inflow       68.000000  released
9     Seoul  female  60s  contact with patient        6.000000  released
10    Seoul  female  50s       overseas inflow       23.000000  released
11    Seoul    male  20s       overseas inflow        0.000000  released
12    Seoul    male  80s  contact with patient      117.000000  released
13    Seoul  female  60s  contact with patient       27.000000  released
14    Seoul    male  70s                 other        8.000000  isolated
15    Seoul    male  70s  contact with patient       18.710098  released
16    Seoul    male  70s  contact with patient       18.710098  released
17    Seoul    male  20s                 other       18.710098  released
18    Seoul  female  70s  contact with patient       18.710098  released
19    Seoul  female  70s                 other       18.710098  released

In [18]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], drop_first = False, dummy_na = True)
#pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], dummy_na = True)

In [19]:
model_v01_data.head()

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
0,Seoul,male,50s,75.0,released,0,0,1,0
1,Seoul,male,30s,31.0,released,0,0,1,0
2,Seoul,male,50s,17.0,released,1,0,0,0
3,Seoul,male,20s,9.0,released,0,0,1,0
4,Seoul,female,20s,2.0,released,1,0,0,0

##### age

In [20]:
patients_age = patient_info[~patient_info['age'].isnull()]
print(patients_age.shape)
patients_age.sort_values(['confirmed_date'])

(3252, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
1943,5000000001,8.0,female,1958.0,60s,Korea,Jeollabuk-do,Gunsan-si,NaN,overseas inflow,1.0,NaN,113.0,NaN,2020-01-31,2020-02-12,NaN,released
1067,2000000003,12.0,male,1971.0,40s,China,Gyeonggi-do,Bucheon-si,NaN,contact with patient,2.0,NaN,422.0,NaN,2020-02-01,2020-02-18,NaN,released
1068,2000000004,14.0,female,1980.0,40s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,3.0,2.000000e+09,3.0,NaN,2020-02-02,2020-02-18,NaN,released
1069,2000000005,15.0,male,1977.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,2.0,2.000000e+09,15.0,2020-02-01,2020-02-02,2020-02-24,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
816,1300000001,16.0,female,NaN,40s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,450.0,2020-01-27,2020-02-03,2020-02-20,NaN,released
1070,2000000006,17.0,male,1982.0,30s,Korea,Gyeonggi-do,Guri-si,NaN,overseas inflow,2.0,NaN,290.0,NaN,2020-02-05,2020-02-12,NaN,released
1071,2000000007,20.0,female,1978.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,3.0,2.000000e+09,2.0,2020-02-04,2020-02-05,2020-02-24,NaN,released
817,1300000002,18.0,female,NaN,20s,Korea,Gwangju,NaN,NaN,contact with patient,NaN,1.300000e+09,8.0,NaN,2020-02-05,2020-02-20,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
1960,5100000001,22.0,male,1974.0,40s,Korea,Jeollanam-do,etc,NaN,contact with patient,NaN,1.300000e+09,1.0,NaN,2020-02-06,2020-02-15,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
1074,2000000010,27.0,female,1982.0,30s,China,Gyeonggi-do,Siheung-si,NaN,overseas inflow,1.0,NaN,40.0,NaN,2020-02-09,2020-03-07,NaN,released
1073,2000000009,26.0,male,1968.0,50s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,1.0,2.000000e+09,0.0,NaN,2020-02-09,NaN,NaN,isolated
1072,2000000008,25.0,female,1946.0,70s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,2.0,2.000000e+09,12.0,NaN,2020-02-09,2020-03-05,NaN,released
1075,2000000011,28.0,female,1989.0,30s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,2.0,2.000000e+09,1.0,NaN,2020-02-10,2020-02-17,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001,6016000031,NaN,female,1969.0,50s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
3005,6016000035,NaN,female,1981.0,30s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
3003,6016000033,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
1711,2000000647,10600.0,female,1959.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
3004,6016000034,NaN,male,2001.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
3312,6100000115,NaN,male,1998.0,20s,Korea,Gyeongsangnam-do,Changwon-si,NaN,etc,NaN,NaN,NaN,2020-04-14,2020-04-16,NaN,NaN,isolated
1714,2000000650,10627.0,female,1961.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
844,1300000029,NaN,male,NaN,60s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-16,NaN,NaN,isolated
3006,6016000036,NaN,male,2003.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
3007,6016000037,NaN,male,2001.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
845,1300000030,NaN,female,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-16,NaN,NaN,isolated
934,1400000089,10629.0,female,1990.0,30s,Korea,Incheon,Seo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
3008,6016000038,NaN,female,2014.0,0s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
1718,2000000654,10650.0,female,2017.0,0s,Korea,Gyeonggi-do,Gunpo-si,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1717,2000000653,10652.0,male,1965.0,50s,Korea,Gyeonggi-do,Uijeongbu-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1716,2000000652,10648.0,female,1934.0,80s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1715,2000000651,10649.0,male,1963.0,50s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
935,1400000090,10646.0,female,1980.0,40s,Korea,Incheon,Michuhol-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
936,1400000091,10660.0,female,2001.0,20s,Korea,Incheon,Namdong-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
3009,6016000039,NaN,male,2005.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-18,NaN,NaN,isolated
752,1100000129,NaN,female,1995.0,20s,Korea,Busan,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [21]:
patients_age.state.value_counts()

released    1627
isolated    1558
deceased      67
Name: state, dtype: int64

In [22]:
patients_age.age.value_counts()

20s     790
50s     589
40s     453
30s     425
60s     398
70s     197
80s     155
10s     146
0s       53
90s      45
100s      1
Name: age, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is in essence a numeric variable, we will turn it into one and wi will fill in its missing values with the mean.

In [23]:
model_v01_data['age'] = model_v01_data.age.str.replace('s','').astype('float')
model_v01_data['age'] = model_v01_data.age.fillna(model_v01_data.age.mean())

In [24]:
model_v01_data

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
0,Seoul,male,50.0,75.000000,released,0,0,1,0
1,Seoul,male,30.0,31.000000,released,0,0,1,0
2,Seoul,male,50.0,17.000000,released,1,0,0,0
3,Seoul,male,20.0,9.000000,released,0,0,1,0
4,Seoul,female,20.0,2.000000,released,1,0,0,0
5,Seoul,female,50.0,43.000000,released,1,0,0,0
6,Seoul,male,20.0,0.000000,released,1,0,0,0
7,Seoul,male,20.0,0.000000,released,0,0,1,0
8,Seoul,male,30.0,68.000000,released,0,0,1,0
9,Seoul,female,60.0,6.000000,released,1,0,0,0
10,Seoul,female,50.0,23.000000,released,0,0,1,0
11,Seoul,male,20.0,0.000000,released,0,0,1,0
12,Seoul,male,80.0,117.000000,released,1,0,0,0
13,Seoul,female,60.0,27.000000,released,1,0,0,0
14,Seoul,male,70.0,8.000000,isolated,0,1,0,0
15,Seoul,male,70.0,18.710098,released,1,0,0,0
16,Seoul,male,70.0,18.710098,released,1,0,0,0
17,Seoul,male,20.0,18.710098,released,0,1,0,0
18,Seoul,female,70.0,18.710098,released,1,0,0,0
19,Seoul,female,70.0,18.710098,released,0,1,0,0
20,Seoul,male,80.0,18.710098,released,1,0,0,0
21,Seoul,male,30.0,18.710098,isolated,0,1,0,0
22,Seoul,male,50.0,18.710098,isolated,0,1,0,0
23,Seoul,male,40.0,18.710098,released,1,0,0,0
24,Seoul,male,60.0,18.710098,released,0,1,0,0
25,Seoul,male,30.0,18.710098,released,0,1,0,0
26,Seoul,male,50.0,18.710098,released,0,0,1,0
27,Seoul,female,70.0,18.710098,released,0,1,0,0
28,Seoul,female,20.0,18.710098,released,0,1,0,0
29,Seoul,male,60.0,18.710098,released,0,1,0,0
...,...,...,...,...,...,...,...,...,...
3296,Gyeongsangnam-do,male,40.0,18.710098,isolated,0,1,0,0
3297,Gyeongsangnam-do,female,60.0,18.710098,isolated,0,1,0,0
3298,Gyeongsangnam-do,male,40.0,18.710098,isolated,0,0,1,0
3299,Gyeongsangnam-do,female,20.0,18.710098,isolated,0,0,1,0
3300,Gyeongsangnam-do,female,30.0,18.710098,isolated,0,1,0,0
3301,Gyeongsangnam-do,female,70.0,18.710098,isolated,0,1,0,0
3302,Gyeongsangnam-do,male,20.0,18.710098,released,0,0,1,0
3303,Gyeongsangnam-do,male,20.0,18.710098,isolated,0,0,1,0
3304,Gyeongsangnam-do,female,50.0,18.710098,isolated,0,1,0,0
3305,Gyeongsangnam-do,male,10.0,18.710098,released,0,0,1,0
3306,Gyeongsangnam-do,male,30.0,18.710098,isolated,0,1,0,0
3307,Gyeongsangnam-do,male,0.0,18.710098,isolated,0,1,0,0
3308,Gyeongsangnam-do,male,20.0,18.710098,isolated,1,0,0,0
3309,Gyeongsangnam-do,male,60.0,18.710098,isolated,1,0,0,0
3310,Gyeongsangnam-do,male,30.0,18.710098,isolated,0,0,1,0
3311,Gyeongsangnam-do,female,0.0,18.710098,isolated,0,0,1,0
3312,Gyeongsangnam-do,male,20.0,18.710098,isolated,0,1,0,0
3313,Jeju-do,male,20.0,87.000000,released,0,1,0,0
3314,Jeju-do,female,20.0,84.000000,released,0,1,0,0
3315,Jeju-do,female,40.0,21.000000,released,0,1,0,0
3316,Jeju-do,male,40.0,74.000000,released,0,1,0,0
3317,Jeju-do,female,20.0,20.000000,isolated,0,0,1,0
3318,Jeju-do,male,30.0,23.000000,released,0,0,1,0
3319,Jeju-do,female,20.0,26.000000,released,0,0,1,0
3320,Jeju-do,female,10.0,25.000000,released,0,0,1,0
3321,Jeju-do,female,20.0,14.000000,isolated,0,0,1,0
3322,Jeju-do,female,20.0,18.000000,isolated,0,0,1,0
3323,Jeju-do,male,30.0,5.000000,isolated,1,0,0,0
3324,Jeju-do,female,20.0,9.000000,isolated,0,0,1,0
3325,Jeju-do,female,10.0,6.000000,isolated,0,0,1,0

In [25]:
model_v01_data.age.mean()

40.528905289052894

In [26]:
model_v01_data[model_v01_data['age'] == model_v01_data.age.mean()]

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
563,Seoul,NaN,40.528905,18.710098,released,0,1,0,0
564,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
565,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
566,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
567,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
568,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
569,Seoul,NaN,40.528905,18.710098,released,0,0,1,0
570,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
571,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
572,Seoul,NaN,40.528905,18.710098,isolated,0,1,0,0
573,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
574,Seoul,NaN,40.528905,18.710098,isolated,0,1,0,0
575,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
576,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
577,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
578,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
579,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
580,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
581,Seoul,NaN,40.528905,18.710098,released,0,0,1,0
582,Seoul,NaN,40.528905,18.710098,released,0,0,1,0
583,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
584,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
585,Seoul,NaN,40.528905,18.710098,isolated,0,1,0,0
586,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
587,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
588,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
589,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
590,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
591,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
592,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
...,...,...,...,...,...,...,...,...,...
607,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
608,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
609,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
610,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
611,Seoul,NaN,40.528905,18.710098,released,0,0,1,0
612,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
613,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
614,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
615,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
616,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
617,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
618,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
619,Seoul,NaN,40.528905,18.710098,isolated,1,0,0,0
620,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
621,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
622,Seoul,NaN,40.528905,0.000000,isolated,0,0,1,0
623,Seoul,NaN,40.528905,1.000000,isolated,0,0,1,0
1729,Gangwon-do,female,40.528905,18.710098,released,0,1,0,0
1730,Gangwon-do,male,40.528905,18.710098,released,0,1,0,0
2731,Gyeongsangbuk-do,male,40.528905,16.000000,isolated,0,1,0,0
2732,Gyeongsangbuk-do,male,40.528905,13.000000,isolated,0,1,0,0
2733,Gyeongsangbuk-do,female,40.528905,31.000000,isolated,0,1,0,0
2734,Gyeongsangbuk-do,female,40.528905,18.710098,isolated,0,1,0,0
2735,Gyeongsangbuk-do,male,40.528905,18.710098,isolated,0,1,0,0
2736,Gyeongsangbuk-do,female,40.528905,18.710098,isolated,0,1,0,0
2926,Gyeongsangbuk-do,female,40.528905,0.000000,released,0,1,0,0
2927,Gyeongsangbuk-do,NaN,40.528905,0.000000,released,0,1,0,0
3228,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1
3229,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1
3230,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1

##### sex

In [27]:
patients_sex = patient_info[~patient_info['sex'].isnull()]
print(patients_sex.shape)
patients_sex.sort_values(['confirmed_date'])

(3260, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
1943,5000000001,8.0,female,1958.0,60s,Korea,Jeollabuk-do,Gunsan-si,NaN,overseas inflow,1.0,NaN,113.0,NaN,2020-01-31,2020-02-12,NaN,released
1067,2000000003,12.0,male,1971.0,40s,China,Gyeonggi-do,Bucheon-si,NaN,contact with patient,2.0,NaN,422.0,NaN,2020-02-01,2020-02-18,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
1069,2000000005,15.0,male,1977.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,2.0,2.000000e+09,15.0,2020-02-01,2020-02-02,2020-02-24,NaN,released
1068,2000000004,14.0,female,1980.0,40s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,3.0,2.000000e+09,3.0,NaN,2020-02-02,2020-02-18,NaN,released
816,1300000001,16.0,female,NaN,40s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,450.0,2020-01-27,2020-02-03,2020-02-20,NaN,released
1070,2000000006,17.0,male,1982.0,30s,Korea,Gyeonggi-do,Guri-si,NaN,overseas inflow,2.0,NaN,290.0,NaN,2020-02-05,2020-02-12,NaN,released
817,1300000002,18.0,female,NaN,20s,Korea,Gwangju,NaN,NaN,contact with patient,NaN,1.300000e+09,8.0,NaN,2020-02-05,2020-02-20,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
1071,2000000007,20.0,female,1978.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,3.0,2.000000e+09,2.0,2020-02-04,2020-02-05,2020-02-24,NaN,released
1960,5100000001,22.0,male,1974.0,40s,Korea,Jeollanam-do,etc,NaN,contact with patient,NaN,1.300000e+09,1.0,NaN,2020-02-06,2020-02-15,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
1072,2000000008,25.0,female,1946.0,70s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,2.0,2.000000e+09,12.0,NaN,2020-02-09,2020-03-05,NaN,released
1073,2000000009,26.0,male,1968.0,50s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,1.0,2.000000e+09,0.0,NaN,2020-02-09,NaN,NaN,isolated
1074,2000000010,27.0,female,1982.0,30s,China,Gyeonggi-do,Siheung-si,NaN,overseas inflow,1.0,NaN,40.0,NaN,2020-02-09,2020-03-07,NaN,released
1075,2000000011,28.0,female,1989.0,30s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,2.0,2.000000e+09,1.0,NaN,2020-02-10,2020-02-17,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2000000649,10603.0,female,2005.0,10s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-15,NaN,NaN,isolated
1712,2000000648,10604.0,female,1986.0,30s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-15,NaN,NaN,isolated
1711,2000000647,10600.0,female,1959.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
750,1100000127,NaN,female,1979.0,40s,Korea,Busan,Dongnae-gu,NaN,overseas inflow,NaN,NaN,2.0,2020-04-08,2020-04-15,NaN,NaN,isolated
3002,6016000032,NaN,female,2017.0,0s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-15,NaN,NaN,isolated
845,1300000030,NaN,female,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-16,NaN,NaN,isolated
844,1300000029,NaN,male,NaN,60s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-16,NaN,NaN,isolated
3006,6016000036,NaN,male,2003.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
3007,6016000037,NaN,male,2001.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
1714,2000000650,10627.0,female,1961.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
3312,6100000115,NaN,male,1998.0,20s,Korea,Gyeongsangnam-do,Changwon-si,NaN,etc,NaN,NaN,NaN,2020-04-14,2020-04-16,NaN,NaN,isolated
934,1400000089,10629.0,female,1990.0,30s,Korea,Incheon,Seo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
3008,6016000038,NaN,female,2014.0,0s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
1718,2000000654,10650.0,female,2017.0,0s,Korea,Gyeonggi-do,Gunpo-si,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1717,2000000653,10652.0,male,1965.0,50s,Korea,Gyeonggi-do,Uijeongbu-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1716,2000000652,10648.0,female,1934.0,80s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1715,2000000651,10649.0,male,1963.0,50s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
935,1400000090,10646.0,female,1980.0,40s,Korea,Incheon,Michuhol-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
936,1400000091,10660.0,female,2001.0,20s,Korea,Incheon,Namdong-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
752,1100000129,NaN,female,1995.0,20s,Korea,Busan,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated
3009,6016000039,NaN,male,2005.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-18,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [28]:
patients_sex.state.value_counts()

released    1630
isolated    1563
deceased      67
Name: state, dtype: int64

In [29]:
patients_sex.sex.value_counts()

female    1831
male      1429
Name: sex, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a categorical variable, and the number of NAs is not high, we will fill in the missing values with the mode and create dummy variables for the levels.

In [30]:
model_v01_data['sex'] = model_v01_data.sex.fillna(model_v01_data.sex.mode())

In [31]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'sex', columns = ['sex'], drop_first = False, dummy_na = True)
#pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], dummy_na = True)

In [32]:
model_v01_data.head()

,province,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan
0,Seoul,50.0,75.0,released,0,0,1,0,0,1,0
1,Seoul,30.0,31.0,released,0,0,1,0,0,1,0
2,Seoul,50.0,17.0,released,1,0,0,0,0,1,0
3,Seoul,20.0,9.0,released,0,0,1,0,0,1,0
4,Seoul,20.0,2.0,released,1,0,0,0,1,0,0

##### province

In [33]:
patients_province = patient_info[~patient_info['province'].isnull()]
print(patients_province.shape)
patients_province.sort_values(['confirmed_date'])

(3326, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
1943,5000000001,8.0,female,1958.0,60s,Korea,Jeollabuk-do,Gunsan-si,NaN,overseas inflow,1.0,NaN,113.0,NaN,2020-01-31,2020-02-12,NaN,released
1067,2000000003,12.0,male,1971.0,40s,China,Gyeonggi-do,Bucheon-si,NaN,contact with patient,2.0,NaN,422.0,NaN,2020-02-01,2020-02-18,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
1068,2000000004,14.0,female,1980.0,40s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,3.0,2.000000e+09,3.0,NaN,2020-02-02,2020-02-18,NaN,released
1069,2000000005,15.0,male,1977.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,2.0,2.000000e+09,15.0,2020-02-01,2020-02-02,2020-02-24,NaN,released
816,1300000001,16.0,female,NaN,40s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,450.0,2020-01-27,2020-02-03,2020-02-20,NaN,released
1070,2000000006,17.0,male,1982.0,30s,Korea,Gyeonggi-do,Guri-si,NaN,overseas inflow,2.0,NaN,290.0,NaN,2020-02-05,2020-02-12,NaN,released
817,1300000002,18.0,female,NaN,20s,Korea,Gwangju,NaN,NaN,contact with patient,NaN,1.300000e+09,8.0,NaN,2020-02-05,2020-02-20,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
1071,2000000007,20.0,female,1978.0,40s,Korea,Gyeonggi-do,Suwon-si,NaN,contact with patient,3.0,2.000000e+09,2.0,2020-02-04,2020-02-05,2020-02-24,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
1960,5100000001,22.0,male,1974.0,40s,Korea,Jeollanam-do,etc,NaN,contact with patient,NaN,1.300000e+09,1.0,NaN,2020-02-06,2020-02-15,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
1074,2000000010,27.0,female,1982.0,30s,China,Gyeonggi-do,Siheung-si,NaN,overseas inflow,1.0,NaN,40.0,NaN,2020-02-09,2020-03-07,NaN,released
1073,2000000009,26.0,male,1968.0,50s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,1.0,2.000000e+09,0.0,NaN,2020-02-09,NaN,NaN,isolated
1072,2000000008,25.0,female,1946.0,70s,Korea,Gyeonggi-do,Siheung-si,NaN,contact with patient,2.0,2.000000e+09,12.0,NaN,2020-02-09,2020-03-05,NaN,released
1075,2000000011,28.0,female,1989.0,30s,China,Gyeonggi-do,Goyang-si,NaN,contact with patient,2.0,2.000000e+09,1.0,NaN,2020-02-10,2020-02-17,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,6100000115,NaN,male,1998.0,20s,Korea,Gyeongsangnam-do,Changwon-si,NaN,etc,NaN,NaN,NaN,2020-04-14,2020-04-16,NaN,NaN,isolated
3006,6016000036,NaN,male,2003.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
3007,6016000037,NaN,male,2001.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
619,1000000620,10632.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-16,NaN,NaN,isolated
844,1300000029,NaN,male,NaN,60s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,3.0,NaN,2020-04-16,NaN,NaN,isolated
845,1300000030,NaN,female,NaN,20s,Korea,Gwangju,NaN,NaN,overseas inflow,NaN,NaN,2.0,NaN,2020-04-16,NaN,NaN,isolated
934,1400000089,10629.0,female,1990.0,30s,Korea,Incheon,Seo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
1714,2000000650,10627.0,female,1961.0,60s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-04-16,NaN,NaN,isolated
1717,2000000653,10652.0,male,1965.0,50s,Korea,Gyeonggi-do,Uijeongbu-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
621,1000000622,10644.0,NaN,NaN,NaN,Korea,Seoul,Seongbuk-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
622,1000000623,10658.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-17,NaN,NaN,isolated
935,1400000090,10646.0,female,1980.0,40s,Korea,Incheon,Michuhol-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
1716,2000000652,10648.0,female,1934.0,80s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
3008,6016000038,NaN,female,2014.0,0s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
620,1000000621,10635.0,NaN,NaN,NaN,Korea,Seoul,Yongsan-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-17,NaN,NaN,isolated
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
1715,2000000651,10649.0,male,1963.0,50s,Korea,Gyeonggi-do,Pocheon-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
1718,2000000654,10650.0,female,2017.0,0s,Korea,Gyeonggi-do,Gunpo-si,NaN,contact with patient,NaN,1.000001e+09,NaN,NaN,2020-04-17,NaN,NaN,isolated
752,1100000129,NaN,female,1995.0,20s,Korea,Busan,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated
623,1000000624,10659.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-18,NaN,NaN,isolated
3009,6016000039,NaN,male,2005.0,10s,Korea,Gyeongsangbuk-do,Yecheon-gun,NaN,contact with patient,NaN,6.016000e+09,NaN,NaN,2020-04-18,NaN,NaN,isolated
936,1400000091,10660.0,female,2001.0,20s,Korea,Incheon,Namdong-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-18,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [34]:
patients_province.state.value_counts()

released    1637
isolated    1622
deceased      67
Name: state, dtype: int64

In [35]:
patients_province.province.value_counts()

Gyeongsangbuk-do     1223
Gyeonggi-do           656
Seoul                 624
Chungcheongnam-do     141
Busan                 129
Gyeongsangnam-do      115
Incheon                92
Daegu                  63
Sejong                 46
Chungcheongbuk-do      44
Ulsan                  42
Daejeon                39
Gangwon-do             37
Gwangju                30
Jeollabuk-do           17
Jeollanam-do           15
Jeju-do                13
Name: province, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a categorical variable, we will fill create dummy variables for the levels.

In [36]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'province', columns = ['province'], drop_first = False, dummy_na = True)
#pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], dummy_na = True)

In [37]:
model_v01_data.head()

,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan,...,province_Gyeongsangbuk-do,province_Gyeongsangnam-do,province_Incheon,province_Jeju-do,province_Jeollabuk-do,province_Jeollanam-do,province_Sejong,province_Seoul,province_Ulsan,province_nan
0,50.0,75.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,30.0,31.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,50.0,17.0,released,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,20.0,9.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,20.0,2.0,released,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

##### state

In [66]:
model_v01_data.state.value_counts()

released    1637
isolated    1622
deceased      67
Name: state, dtype: int64

As we can see, there are three possible states for the patient. As we are aiming at final states, we will only consider the states: released and deceased, removing rows with the other states. We will also encode it as a binary variable (0 for released and 1 for deceased).

In [159]:
model_v01_data = model_v01_data[model_v01_data['state'].isin(['released','deceased'])]
model_v01_data['state'] = model_v01_data['state'].transform(lambda x: 0 if x == 'released' else 1)
#pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], dummy_na = True)

In [160]:
model_v01_data.head()

,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan,...,province_Gyeongsangbuk-do,province_Gyeongsangnam-do,province_Incheon,province_Jeju-do,province_Jeollabuk-do,province_Jeollanam-do,province_Sejong,province_Seoul,province_Ulsan,province_nan
0,50.0,75.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,30.0,31.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,50.0,17.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,20.0,9.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,20.0,2.0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [161]:
model_v01_data.shape

(1704, 28)

In [162]:
model_v01_data.state.value_counts()

0    1637
1      67
Name: state, dtype: int64

In [163]:
model_v01_data.state.value_counts()[0]/model_v01_data.state.value_counts()[1]

24.432835820895523

### Create Model

#### Split Train/Test data

In [164]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(model_v01_data.drop('state', axis=1), model_v01_data['state'], test_size=0.25, random_state=199)

#### Standardize input features

In [165]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
x_train_std = scaler.fit_transform(x_train)
x_test_std = scaler.transform(x_test)

/home/tarciso/anaconda2/envs/py37/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/tarciso/anaconda2/envs/py37/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/tarciso/anaconda2/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [166]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(random_state=199, class_weight={0:1.0,1:24.4},
                                 solver='lbfgs', multi_class='auto')
logisticRegr.fit(x_train_std, y_train)

LogisticRegression(C=1.0, class_weight={0: 1.0, 1: 24.4}, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='auto', n_jobs=None, penalty='l2', random_state=199,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [167]:
y_pred = logisticRegr.predict(x_test_std)

In [168]:
test_score = logisticRegr.score(x_test_std, y_test)
print(test_score)

0.894366197183

In [169]:
train_score = logisticRegr.score(x_train_std, y_train)
print(train_score)

0.91392801252

In [170]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[370,  40],
       [  5,  11]])

#### Model Coefficients

In [171]:
logisticRegr.classes_

array([0, 1])

In [184]:
coef_dict = {}
for coef, feat in zip(logisticRegr.coef_[0],list(x_train.columns.values)):
    coef_dict[feat] = coef
{k: v for k, v in sorted(coef_dict.items(), key=lambda item: abs(item[1]), reverse=True)}

{'age': 2.3053171090524338,
 'infection_case_contact with patient': -1.7158377099779827,
 'infection_case_other': 1.2997626698439231,
 'province_Gyeongsangnam-do': -0.95416592687831769,
 'province_Gyeongsangbuk-do': 0.95350454348115099,
 'province_Daegu': 0.82569211912775164,
 'infection_case_overseas inflow': -0.68132204542799657,
 'province_Chungcheongnam-do': -0.64490708100099958,
 'sex_male': 0.63766509899062385,
 'province_Gyeonggi-do': 0.63505488944956323,
 'province_Daejeon': -0.61768798505545874,
 'sex_female': -0.61401028297300608,
 'province_Chungcheongbuk-do': -0.57425952686008586,
 'province_Gangwon-do': -0.5625508325840064,
 'infection_case_nan': 0.54108965576828461,
 'province_Incheon': -0.53096435404514541,
 'province_Sejong': -0.50523738862161482,
 'province_Gwangju': -0.33514244645407337,
 'province_Ulsan': 0.2303967241118641,
 'sex_nan': -0.20622711313645994,
 'province_Jeju-do': -0.17831597192713178,
 'province_Seoul': 0.13075022205655576,
 'province_Busan': 0.10216661327193453,
 'province_Jeollabuk-do': -0.081631775793927955,
 'province_Jeollanam-do': -0.063936725035792383,
 'contact_number': 0.053541600787783049,
 'province_nan': 0.0}

#### Top Features (higher effect) overall
- Age (+)
- Infection Case - Contact with other Patient (-)
- Infection Case - Other (+)
- Province Gyeongsangnam-do (-)
- Province Gyeongsangbuk-do (+)

#### Top Features (higher effect) for deceased state
- Age
- Infection Case (Other)
- Province Gyeongsangbuk-do
- Province Daegu
- sex Male

#### Top Features (higher effect) for released state
- Infection Case (Contact with other Patient)
- Province Gyeongsangnam-do
- Infection Case (Overseas Inflow)
- Province Chungcheongnam-do
- Province Daejeon