## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Question:

### What characteristics are good predictors of the patient status? (Predictive / Inference)

## Reading Data - Patient Info

#### [Dataset Description](https://www.kaggle.com/kimjihoo/ds4c-what-is-this-dataset-detailed-description)

In [2]:
patient_info = pd.read_csv('../../data/PatientInfo.csv')

#### Taking a look at the data

In [3]:
patient_info.head(30)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,43.0,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,11.0,male,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,0.0,NaN,2020-01-31,2020-02-10,NaN,released
7,1000000008,13.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-02,2020-02-24,NaN,released
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,2.0,NaN,68.0,NaN,2020-02-05,2020-02-21,NaN,released
9,1000000010,21.0,female,1960.0,60s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,3.0,1.000000e+09,6.0,NaN,2020-02-05,2020-02-29,NaN,released
10,1000000011,23.0,female,1962.0,50s,China,Seoul,Seodaemun-gu,NaN,overseas inflow,1.0,NaN,23.0,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,24.0,male,1992.0,20s,Korea,Seoul,etc,NaN,overseas inflow,1.0,NaN,0.0,NaN,2020-02-07,2020-02-27,NaN,released
12,1000000013,29.0,male,1938.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,117.0,NaN,2020-02-16,NaN,NaN,released
13,1000000014,30.0,female,1952.0,60s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,27.0,2020-02-06,2020-02-16,2020-03-12,NaN,released
14,1000000015,40.0,male,1943.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,NaN,NaN,8.0,2020-02-11,2020-02-19,NaN,NaN,isolated
15,1000000016,56.0,male,1945.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,4.0,1.000000e+09,NaN,NaN,2020-02-19,2020-03-11,NaN,released
16,1000000017,83.0,male,1944.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,3.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-01,NaN,released
17,1000000018,111.0,male,2000.0,20s,Korea,Seoul,etc,NaN,etc,NaN,NaN,NaN,NaN,2020-02-20,NaN,NaN,released
18,1000000019,112.0,female,1941.0,70s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-08,NaN,released
19,1000000020,121.0,female,1944.0,70s,Korea,Seoul,Seongdong-gu,NaN,Seongdong-gu APT,NaN,1.000000e+09,NaN,NaN,2020-02-20,NaN,NaN,released
20,1000000021,136.0,male,1936.0,80s,Korea,Seoul,Jongno-gu,NaN,contact with patient,5.0,1.000000e+09,NaN,NaN,2020-02-20,2020-03-08,NaN,released
21,1000000022,161.0,male,1985.0,30s,Korea,Seoul,Seodaemun-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-21,NaN,NaN,isolated
22,1000000023,188.0,male,1961.0,50s,Korea,Seoul,Seocho-gu,NaN,Shincheonji Church,NaN,NaN,NaN,NaN,2020-02-21,NaN,NaN,isolated
23,1000000024,348.0,male,1980.0,40s,Korea,Seoul,Guro-gu,NaN,contact with patient,NaN,NaN,NaN,NaN,2020-02-22,2020-03-14,NaN,released
24,1000000025,365.0,male,1958.0,60s,Korea,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,1.000000e+09,NaN,NaN,2020-02-22,NaN,NaN,released
25,1000000026,420.0,male,1986.0,30s,Korea,Seoul,Seocho-gu,NaN,etc,NaN,NaN,NaN,2020-02-21,2020-02-22,2020-03-11,NaN,released
26,1000000027,593.0,male,1968.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-02-23,2020-03-04,NaN,released
27,1000000028,627.0,female,1950.0,70s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-23,2020-03-11,NaN,released
28,1000000029,754.0,female,1995.0,20s,Korea,Seoul,Jongno-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,1.000000e+09,NaN,2020-02-11,2020-02-26,2020-03-11,NaN,released
29,1000000030,755.0,male,1954.0,60s,China,Seoul,Gangdong-gu,NaN,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,NaN,2020-02-23,NaN,NaN,released

In [4]:
patient_info.shape

(3326, 18)

In [5]:
patient_info.describe()

,patient_id,global_num,birth_year,infection_order,infected_by,contact_number
count,3.326000e+03,2237.000000,2889.000000,31.000000,8.060000e+02,614.000000
mean,3.514908e+09,6669.169423,1974.956732,2.387097,2.671714e+09,18.710098
std,2.209142e+09,3321.396732,20.275471,1.453213,1.740450e+09,75.352899
min,1.000000e+09,1.000000,1916.000000,1.000000,1.000000e+09,0.000000
25%,1.300000e+09,4172.000000,1961.000000,1.000000,1.200000e+09,2.000000
50%,2.000001e+09,7855.000000,1975.000000,2.000000,2.000000e+09,4.000000
75%,6.001001e+09,9433.000000,1993.000000,3.000000,4.100000e+09,14.000000
max,7.000000e+09,10660.000000,2020.000000,6.000000,7.000000e+09,1160.000000

In [6]:
patient_info.describe(include=['object'])

,sex,age,country,province,city,disease,infection_case,symptom_onset_date,confirmed_date,released_date,deceased_date,state
count,3260,3252,3326,3326,3247,18,2559,471,3323,1218,60,3326
unique,2,11,11,17,151,1,23,69,77,66,33,3
top,female,20s,Korea,Gyeongsangbuk-do,Gyeongsan-si,True,contact with patient,2020-02-27,2020-03-05,2020-03-20,2020-03-05,released
freq,1831,790,3300,1223,631,18,949,29,145,69,4,1637

#### Checking for missing data

In [7]:
patient_info.apply(lambda x: x.isnull().mean(), axis=0).sort_values(ascending=False)

disease               0.994588
infection_order       0.990679
deceased_date         0.981960
symptom_onset_date    0.858388
contact_number        0.815394
infected_by           0.757667
released_date         0.633794
global_num            0.327420
infection_case        0.230607
birth_year            0.131389
city                  0.023752
age                   0.022249
sex                   0.019844
confirmed_date        0.000902
state                 0.000000
country               0.000000
province              0.000000
patient_id            0.000000
dtype: float64

### Model Design

#### Model V. 0.1 - y ~ X:
- y = state
- X = f ( province, sex, age, infection_case, contact_number )

In [8]:
model_v01_data = patient_info[['province', 'sex', 'age', 'infection_case', 'contact_number', 'state']]

In [9]:
print(model_v01_data.shape)
model_v01_data.head()

(3326, 6)

  province     sex  age        infection_case  contact_number     state
0    Seoul    male  50s       overseas inflow            75.0  released
1    Seoul    male  30s       overseas inflow            31.0  released
2    Seoul    male  50s  contact with patient            17.0  released
3    Seoul    male  20s       overseas inflow             9.0  released
4    Seoul  female  20s  contact with patient             2.0  released

#### Deciding what to do for each column (missing data, value encoding, data treatment)

##### contact_number

In [10]:
patients_contact_no = patient_info[~patient_info['contact_number'].isnull()]
print(patients_contact_no.shape)
patients_contact_no.sort_values(['confirmed_date'])

(614, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,4100000141,NaN,male,1999.0,20s,Korea,Chungcheongnam-do,Nonsan-si,NaN,contact with patient,NaN,6.100000e+09,89.0,NaN,2020-04-17,NaN,NaN,isolated
1941,4100000140,NaN,female,1958.0,60s,Korea,Chungcheongnam-do,Cheonan-si,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-17,NaN,NaN,isolated
622,1000000623,10658.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,0.0,NaN,2020-04-17,NaN,NaN,isolated
623,1000000624,10659.0,NaN,NaN,NaN,Korea,Seoul,Gangnam-gu,NaN,overseas inflow,NaN,NaN,1.0,NaN,2020-04-18,NaN,NaN,isolated
751,1100000128,NaN,male,1962.0,50s,Korea,Busan,Buk-gu,NaN,etc,NaN,NaN,143.0,2020-04-08,2020-04-18,NaN,NaN,isolated

In [11]:
patients_contact_no.state.value_counts()

released    416
isolated    195
deceased      3
Name: state, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a numeric variable, we will fill in missing values with the mean.

In [12]:
model_v01_data.loc[:,'contact_number'] = model_v01_data.contact_number.fillna(model_v01_data.contact_number.mean())

/local/tarciso/anaconda3/envs/udacity-ds-p1/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

##### infection_case

In [13]:
patients_infection_case = patient_info[~patient_info['infection_case'].isnull()]
print(patients_infection_case.shape)
patients_infection_case.sort_values(['confirmed_date'])

(2559, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [14]:
patients_infection_case.state.value_counts()

isolated    1437
released    1094
deceased      28
Name: state, dtype: int64

In [15]:
patients_infection_case.infection_case.value_counts()

contact with patient                     949
etc                                      567
overseas inflow                          567
Guro-gu Call Center                      112
Shincheonji Church                       107
Onchun Church                             33
Bonghwa Pureun Nursing Home               31
gym facility in Cheonan                   30
Ministry of Oceans and Fisheries          28
Cheongdo Daenam Hospital                  21
Dongan Church                             17
Eunpyeong St. Mary's Hospital             16
Gyeongsan Seorin Nursing Home             15
Seongdong-gu APT                          13
Gyeongsan Jeil Silver Town                12
Milal Shelter                             11
Gyeongsan Cham Joeun Community Center     10
Geochang Church                            6
gym facility in Sejong                     4
Changnyeong Coin Karaoke                   4
Suyeong-gu Kindergarten                    3
Pilgrimage to Israel                       2
River of Grace Community Church            1
Name: infection_case, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. There are many infection case levels which are not going to be individually relevant to the prediction model. Thus, we will keep only two of the original levels: Contact with Patient and Overseas Inflow, and label the rest as Other.As it is a categorical variable, we will create a dummy variable to hold its NA values.

In [16]:
def resume_infection_case_col(inf_case_value):
    if ((pd.isnull(inf_case_value)) or (inf_case_value in ['contact with patient','overseas inflow'])):
        return inf_case_value
    else:
        return 'other'
    
model_v01_data.loc[:,'infection_case'] = model_v01_data['infection_case'].apply(resume_infection_case_col)

/local/tarciso/anaconda3/envs/udacity-ds-p1/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [17]:
model_v01_data.head(20)

   province     sex  age        infection_case  contact_number     state
0     Seoul    male  50s       overseas inflow       75.000000  released
1     Seoul    male  30s       overseas inflow       31.000000  released
2     Seoul    male  50s  contact with patient       17.000000  released
3     Seoul    male  20s       overseas inflow        9.000000  released
4     Seoul  female  20s  contact with patient        2.000000  released
5     Seoul  female  50s  contact with patient       43.000000  released
6     Seoul    male  20s  contact with patient        0.000000  released
7     Seoul    male  20s       overseas inflow        0.000000  released
8     Seoul    male  30s       overseas inflow       68.000000  released
9     Seoul  female  60s  contact with patient        6.000000  released
10    Seoul  female  50s       overseas inflow       23.000000  released
11    Seoul    male  20s       overseas inflow        0.000000  released
12    Seoul    male  80s  contact with patient      117.000000  released
13    Seoul  female  60s  contact with patient       27.000000  released
14    Seoul    male  70s                 other        8.000000  isolated
15    Seoul    male  70s  contact with patient       18.710098  released
16    Seoul    male  70s  contact with patient       18.710098  released
17    Seoul    male  20s                 other       18.710098  released
18    Seoul  female  70s  contact with patient       18.710098  released
19    Seoul  female  70s                 other       18.710098  released

In [18]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'infection_case', columns = ['infection_case'], drop_first = False, dummy_na = True)

In [19]:
model_v01_data.head()

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
0,Seoul,male,50s,75.0,released,0,0,1,0
1,Seoul,male,30s,31.0,released,0,0,1,0
2,Seoul,male,50s,17.0,released,1,0,0,0
3,Seoul,male,20s,9.0,released,0,0,1,0
4,Seoul,female,20s,2.0,released,1,0,0,0

##### age

In [20]:
patients_age = patient_info[~patient_info['age'].isnull()]
print(patients_age.shape)
patients_age.sort_values(['confirmed_date'])

(3252, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
937,1400000092,NaN,male,1992.0,20s,Korea,Incheon,Gyeyang-gu,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [21]:
patient_info[patient_info['age'].isnull() & (~patient_info['birth_year'].isnull())]

Empty DataFrame
Columns: [patient_id, global_num, sex, birth_year, age, country, province, city, disease, infection_case, infection_order, infected_by, contact_number, symptom_onset_date, confirmed_date, released_date, deceased_date, state]
Index: []

In [22]:
patients_age.state.value_counts()

released    1627
isolated    1558
deceased      67
Name: state, dtype: int64

In [23]:
patients_age.age.value_counts()

20s     790
50s     589
40s     453
30s     425
60s     398
70s     197
80s     155
10s     146
0s       53
90s      45
100s      1
Name: age, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is in essence a numeric variable, we will turn it into one, and will fill in its missing values with the mean.

In [24]:
model_v01_data.loc[:,'age'] = model_v01_data.age.str.replace('s','').astype('float')
model_v01_data.loc[:,'age'] = model_v01_data.age.fillna(model_v01_data.age.mean())

In [25]:
model_v01_data

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
0,Seoul,male,50.0,75.0,released,0,0,1,0
1,Seoul,male,30.0,31.0,released,0,0,1,0
2,Seoul,male,50.0,17.0,released,1,0,0,0
3,Seoul,male,20.0,9.0,released,0,0,1,0
4,Seoul,female,20.0,2.0,released,1,0,0,0
...,...,...,...,...,...,...,...,...,...
3321,Jeju-do,female,20.0,14.0,isolated,0,0,1,0
3322,Jeju-do,female,20.0,18.0,isolated,0,0,1,0
3323,Jeju-do,male,30.0,5.0,isolated,1,0,0,0
3324,Jeju-do,female,20.0,9.0,isolated,0,0,1,0
3325,Jeju-do,female,10.0,6.0,isolated,0,0,1,0

In [26]:
model_v01_data.age.mean()

40.528905289052865

In [27]:
model_v01_data[model_v01_data['age'] == patient_info.age.str.replace('s','').astype(float).mean()]

,province,sex,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan
563,Seoul,NaN,40.528905,18.710098,released,0,1,0,0
564,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
565,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
566,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
567,Seoul,NaN,40.528905,18.710098,isolated,0,0,1,0
...,...,...,...,...,...,...,...,...,...
2926,Gyeongsangbuk-do,female,40.528905,0.000000,released,0,1,0,0
2927,Gyeongsangbuk-do,NaN,40.528905,0.000000,released,0,1,0,0
3228,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1
3229,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1
3230,Gyeongsangnam-do,NaN,40.528905,18.710098,isolated,0,0,0,1

##### sex

In [28]:
patients_sex = patient_info[~patient_info['sex'].isnull()]
print(patients_sex.shape)
patients_sex.sort_values(['confirmed_date'])

(3260, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [29]:
patients_sex.state.value_counts()

released    1630
isolated    1563
deceased      67
Name: state, dtype: int64

In [30]:
patients_sex.sex.value_counts()

female    1831
male      1429
Name: sex, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a categorical variable, and the number of NAs is very low, we will fill in the missing values with the mode and create dummy variables for the levels.

In [31]:
model_v01_data.loc[:,'sex'] = model_v01_data.sex.fillna(model_v01_data.sex.mode())

In [32]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'sex', columns = ['sex'], drop_first = False, dummy_na = True)

In [33]:
model_v01_data.head()

,province,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan
0,Seoul,50.0,75.0,released,0,0,1,0,0,1,0
1,Seoul,30.0,31.0,released,0,0,1,0,0,1,0
2,Seoul,50.0,17.0,released,1,0,0,0,0,1,0
3,Seoul,20.0,9.0,released,0,0,1,0,0,1,0
4,Seoul,20.0,2.0,released,1,0,0,0,1,0,0

##### province

In [34]:
patients_province = patient_info[~patient_info['province'].isnull()]
print(patients_province.shape)
patients_province.sort_values(['confirmed_date'])

(3326, 18)

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
846,1400000001,1.0,female,1985.0,30s,China,Incheon,etc,NaN,overseas inflow,NaN,NaN,NaN,2020-01-19,2020-01-20,2020-02-06,NaN,released
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1065,2000000001,3.0,male,1966.0,50s,Korea,Gyeonggi-do,Goyang-si,NaN,overseas inflow,1.0,NaN,16.0,NaN,2020-01-26,2020-02-12,NaN,released
1066,2000000002,4.0,male,1964.0,50s,Korea,Gyeonggi-do,Pyeongtaek-si,NaN,overseas inflow,1.0,NaN,95.0,NaN,2020-01-27,2020-02-09,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,2000000656,NaN,male,1964.0,50s,Korea,Gyeonggi-do,Namyangju-si,NaN,contact with patient,NaN,2.000001e+09,NaN,NaN,2020-04-19,NaN,NaN,isolated
1719,2000000655,NaN,female,1998.0,20s,Korea,Gyeonggi-do,Yongin-si,NaN,overseas inflow,NaN,NaN,NaN,NaN,2020-04-19,NaN,NaN,isolated
2923,6011000051,NaN,female,1980.0,40s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2924,6011000052,NaN,female,2011.0,0s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolated
2925,6011000053,NaN,female,2001.0,10s,Korea,Gyeongsangbuk-do,Andong-si,NaN,etc,NaN,NaN,NaN,2020-04-15,NaN,NaN,NaN,isolated

In [35]:
patients_province.state.value_counts()

released    1637
isolated    1622
deceased      67
Name: state, dtype: int64

In [36]:
patients_province.province.value_counts()

Gyeongsangbuk-do     1223
Gyeonggi-do           656
Seoul                 624
Chungcheongnam-do     141
Busan                 129
Gyeongsangnam-do      115
Incheon                92
Daegu                  63
Sejong                 46
Chungcheongbuk-do      44
Ulsan                  42
Daejeon                39
Gangwon-do             37
Gwangju                30
Jeollabuk-do           17
Jeollanam-do           15
Jeju-do                13
Name: province, dtype: int64

As we can see, this column has data which encompasses old and current dates, and comprises all possible patient states. As it is a categorical variable, we will fill create dummy variables for the levels.

In [37]:
model_v01_data = pd.get_dummies(data = model_v01_data, prefix = 'province', columns = ['province'], drop_first = False, dummy_na = True)

In [38]:
model_v01_data.head()

,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan,...,province_Gyeongsangbuk-do,province_Gyeongsangnam-do,province_Incheon,province_Jeju-do,province_Jeollabuk-do,province_Jeollanam-do,province_Sejong,province_Seoul,province_Ulsan,province_nan
0,50.0,75.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,30.0,31.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,50.0,17.0,released,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,20.0,9.0,released,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,20.0,2.0,released,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

##### state

In [39]:
model_v01_data.state.value_counts()

released    1637
isolated    1622
deceased      67
Name: state, dtype: int64

As we can see, there are three possible states for the patient. As we are aiming at final states, we will only consider the states: released and deceased, removing rows with the other states. We will also encode it as a binary variable (0 for released and 1 for deceased).

In [40]:
model_v01_data = model_v01_data[model_v01_data['state'].isin(['released','deceased'])]
model_v01_data.loc[:,'state'] = model_v01_data['state'].transform(lambda x: 0 if x == 'released' else 1)

In [41]:
model_v01_data.head()

,age,contact_number,state,infection_case_contact with patient,infection_case_other,infection_case_overseas inflow,infection_case_nan,sex_female,sex_male,sex_nan,...,province_Gyeongsangbuk-do,province_Gyeongsangnam-do,province_Incheon,province_Jeju-do,province_Jeollabuk-do,province_Jeollanam-do,province_Sejong,province_Seoul,province_Ulsan,province_nan
0,50.0,75.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,30.0,31.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,50.0,17.0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,20.0,9.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,20.0,2.0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [42]:
model_v01_data.shape

(1704, 28)

In [43]:
model_v01_data.state.value_counts()

0    1637
1      67
Name: state, dtype: int64

In [44]:
model_v01_data.state.value_counts()[0]/model_v01_data.state.value_counts()[1]

24.432835820895523

### Create Model

#### Split Train/Test data

In [45]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(model_v01_data.drop('state', axis=1), model_v01_data['state'], test_size=0.25, random_state=199)

#### Standardize input features

In [46]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
x_train_std = scaler.fit_transform(x_train)
x_test_std = scaler.transform(x_test)

In [47]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(random_state=199, class_weight={0:1.0,1:24.4},
                                 solver='lbfgs', multi_class='auto')
logisticRegr.fit(x_train_std, y_train)

LogisticRegression(C=1.0, class_weight={0: 1.0, 1: 24.4}, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=199, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
y_pred = logisticRegr.predict(x_test_std)

In [49]:
test_score = logisticRegr.score(x_test_std, y_test)
print(test_score)

0.8943661971830986

In [50]:
train_score = logisticRegr.score(x_train_std, y_train)
print(train_score)

0.9139280125195618

In [51]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[370,  40],
       [  5,  11]])

#### Inspecting Model Coefficients

In [52]:
logisticRegr.classes_

array([0, 1])

In [53]:
coef_dict = {}
for coef, feat in zip(logisticRegr.coef_[0],list(x_train.columns.values)):
    coef_dict[feat] = coef
{k: v for k, v in sorted(coef_dict.items(), key=lambda item: abs(item[1]), reverse=True)}

{'age': 2.305317109052434,
 'infection_case_contact with patient': -1.7158377099779827,
 'infection_case_other': 1.299762669843923,
 'province_Gyeongsangnam-do': -0.9541659268783177,
 'province_Gyeongsangbuk-do': 0.953504543481151,
 'province_Daegu': 0.8256921191277516,
 'infection_case_overseas inflow': -0.6813220454279966,
 'province_Chungcheongnam-do': -0.6449070810009996,
 'sex_male': 0.6376650989906238,
 'province_Gyeonggi-do': 0.6350548894495632,
 'province_Daejeon': -0.6176879850554587,
 'sex_female': -0.6140102829730061,
 'province_Chungcheongbuk-do': -0.5742595268600859,
 'province_Gangwon-do': -0.5625508325840064,
 'infection_case_nan': 0.5410896557682846,
 'province_Incheon': -0.5309643540451454,
 'province_Sejong': -0.5052373886216148,
 'province_Gwangju': -0.3351424464540734,
 'province_Ulsan': 0.2303967241118641,
 'sex_nan': -0.20622711313645994,
 'province_Jeju-do': -0.17831597192713178,
 'province_Seoul': 0.13075022205655576,
 'province_Busan': 0.10216661327193453,
 'province_Jeollabuk-do': -0.08163177579392795,
 'province_Jeollanam-do': -0.06393672503579238,
 'contact_number': 0.05354160078778305,
 'province_nan': 0.0}

#### Top Features (higher effect) overall

In [54]:
{k: v for k, v in sorted(coef_dict.items(), key=lambda item: abs(item[1]), reverse=True)[:5]}

{'age': 2.305317109052434,
 'infection_case_contact with patient': -1.7158377099779827,
 'infection_case_other': 1.299762669843923,
 'province_Gyeongsangnam-do': -0.9541659268783177,
 'province_Gyeongsangbuk-do': 0.953504543481151}

- Age (+)
- Infection Case - Contact with other Patient (-)
- Infection Case - Other (+)
- Province Gyeongsangnam-do (-)
- Province Gyeongsangbuk-do (+)

#### Top Features (higher effect) for deceased state

In [55]:
{k: v for k, v in sorted(coef_dict.items(), key=lambda item: item[1], reverse=True)[:5]}

{'age': 2.305317109052434,
 'infection_case_other': 1.299762669843923,
 'province_Gyeongsangbuk-do': 0.953504543481151,
 'province_Daegu': 0.8256921191277516,
 'sex_male': 0.6376650989906238}

- Age
- Infection Case (Other)
- Province Gyeongsangbuk-do
- Province Daegu
- sex Male

#### Top Features (higher effect) for released state

In [56]:
{k: v for k, v in sorted(coef_dict.items(), key=lambda item: item[1])[:5]}

{'infection_case_contact with patient': -1.7158377099779827,
 'province_Gyeongsangnam-do': -0.9541659268783177,
 'infection_case_overseas inflow': -0.6813220454279966,
 'province_Chungcheongnam-do': -0.6449070810009996,
 'province_Daejeon': -0.6176879850554587}

- Infection Case (Contact with other Patient)
- Province Gyeongsangnam-do
- Infection Case (Overseas Inflow)
- Province Chungcheongnam-do
- Province Daejeon